input { 
    text-align: right;    
}
input[type="text"]{
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.bold_costum_input{
  font-weight:bold;
}
.italic_costum_input{
  font-style :italic;
}
.underline_costum_input{
 text-decoration: underline;
}
textarea {
   resize: none;
}
.row.input_config_wrapper {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
.config_input{
	width:100%;
	height:100%;
}
.apply_config_btn {
	height:100%;
}
.config_column{
	height: 115px;
}