input { 
    text-align: right;    
}
input[type="text"]{
    -moz-user-select: -moz-none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.bold_costum_input{
  font-weight:bold;
}
.italic_costum_input{
  font-style :italic;
}
.underline_costum_input{
 text-decoration: underline;
}
textarea {
   resize: none;
}