
.second_module_container {
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
}
.second_module_container input {
	text-align:left;
}


.second_module_container .submit_button {
	width:100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.second_module_container .modal-dialog {
color:black;
}

.operation_result{
	display: block;
    width: 100%;
    word-break: break-all;
}
.wrapable_word{
	word-break: break-word;
	white-space: normal;
}

h3 {
	color: white;
}

