body {
	margin: 0 0;
	padding: 0 0;
}

.page_content_wrapper{
	margin:0 auto;
	width:1349px;
	background-image:url("../images/background_image.png");
	background-repeat:repeat;
}

.navigation_menu_block {
height: 36px;
background-color: #222222;
}

.account_and_search_block {
height: 52px;
background-color: #144b9e;
}
.expectations_rating_title_wrapper{
padding-top:23px;
padding-left:282px;
overflow:hidden;
}
.expectations_rating_title_wrapper .expectations_title{
color: #908f8f;
text-shadow: 1px 1px 2px black, 0 0 1em white;
font-family: Tahoma;
font-size: 19px;
font-weight: 700;
text-transform:uppercase;
}
.expectations_and_ratings_block_wrapper{
padding:10px 0px;
background-image:url('../images/slider_line.png');
box-shadow: inset 0 0 25px 25px rgba(0, 0, 0, 0.28);
background-color: #202020;
}

.expectations_and_ratings_block {
height: 275px;
background-image:url('../images/expectations_logo.png');
background-size:cover;
position:relative;
}

.expectations_and_ratings_block .previous_item{
	position:absolute;
	left:178px;
	top:120px;
}
.expectations_and_ratings_block .next_item{
	position:absolute;
	top:120px;
	right:180px;
}


.circle{
width: 34px;
height: 34px;
box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.5), 0 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 5px rgba(255, 255, 255, 0.5);
border: 1px solid #d2d2d2;
background-color: #eeeeee;
border-radius:20px;
}
.circle.item:after{
content:'';
display:block;
width:10px;
height:16px;
background-image:url("../images/left_arrow.png");
margin:0 auto;
margin-top:8px
}
.circle.item.next_item:after{
-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.expectations_details {
position:absolute;
left:813px;
top:12px;
width: 307px;
height: 202px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
border-radius: 4px 5px 5px 4px;
background-color: #000000;
opacity: 0.89;
color:white;
}

.expectations_details .title{
width: 205px;
height: 29px;
color: #ffffff;
font-family: Tahoma;
}
.expectations_details .title_ru{
font-size: 16px;
font-weight: 700;
}
.expectations_details .title_en{
font-size: 12px;
font-weight: 400;
}

.date_and_rate .date_counter{
vertical-align:top;
position:relative;
}

.date_counter{
	display:inline-block;
}

.date_counter .digit_scoreboard{
/* Style for "0" */
display:inline-block;
width: 29px;
line-height: 46px;
color: #000000;
font-family: Tahoma;
font-size: 60px;
font-weight: 400;
background-image:url("../images/date_counter.png");
padding: 7px;
color:black;
}
.month_wrapper{
display:inline-block;
vertical-align:bottom;
}
.month_wrapper .on_site{
width: 44px;
color: #ffffff;
font-family: Tahoma;
font-size: 9px;
font-weight: 700;
}
.month_wrapper .month{
margin-top:10px;
width: 41px;
color: #ffffff;
font-family: Tahoma;
font-size: 14px;
font-weight: 700;
}

.date_and_rate .rating{
width: 95px;
font-size:0px;
display:inline-block;
vertical-align:bottom;
margin-left:18px;
}
.rating .star{
background-image:url("../images/white_star.png");
width:17px;
height:17px;
display:inline-block;
}
.rating .star.checked {
	background-image:url("../images/pink_star.png");
}
.date_and_rate .rate_scale {
display:inline-block;
width: 36px;
color: #ffffff;
font-family: Tahoma;
font-size: 12px;
font-weight: 400;
vertical-align:bottom;
}

.expectations_details .content{
width: 277px;
height: 64px;
text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
color: #ffffff;
font-family: Tahoma;
font-size: 11px;
font-weight: 400;
}

.expectations_images_preview{
width:307px;
margin-top:6px;
}
.expectations_images_preview .image_item{
	display:inline-block;
width: 93px;
height: 42px;
margin-left:4px;
border: 2px grey solid;
}
.expectations_images_preview .image_item:nth-child(1){
margin-left:0px;
}